<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminProjectMapper">
	
	<resultMap type="Project" id="projectResultSet">
		<id property="pNo" column="PROJECT_NO"/>
		<result property="pTitle" column="PROJECT_TITLE"/>
		<result property="pSTitle" column="PROJECT_STITLE"/>
		<result property="pGoal" column="PROJECT_GOAL"/>
		<result property="pThumbImage" column="PROJECT_THUMB_IMG"/>
		<result property="pStartDate" column="PROJECT_START_DT"/>
		<result property="pCloseDate" column="PROJECT_CLOSE_DT"/>
		<result property="pHashTag" column="PROJECT_HASHTAG"/>
		<result property="pMainImage" column="PROJECT_MAIN_IMG"/>
		<result property="pSummaryText" column="PROJECT_SUMMARY"/>
		<result property="pStory" column="PROJECT_STORY"/>
		<result property="pArtistName" column="PROJECT_AT_NM"/>
		<result property="pArtistPFImage" column="PROJECT_AT_PF"/>
		<result property="pArtistSns1" column="PROJECT_AT_SNS1"/>
		<result property="pArtistSns2" column="PROJECT_AT_SNS2"/>
		<result property="pArtistPhone" column="PROJECT_AT_CONT"/>
		<result property="pArtistEmail" column="PROJECT_AT_EM"/>
		<result property="pEnrollDate" column="PROJECT_ER_DT"/>
		<result property="pModifyDate" column="PROJECT_MF_DT"/>
		<result property="pWriter" column="PROJECT_WRITER"/>
		<result property="pCategoryNum" column="PROJECT_CT_NO"/>
		<result property="pCategoryName" column="PROJECT_CT_NAME"/>
		<result property="pStatusNum" column="PROJECT_ST_NO"/>
		<result property="pCount" column="PROJECT_COUNT"/>
		<result property="pCurrentFunding" column="TOTAL" />
		<result property="termDate" column="TERM_DATE" />
	</resultMap>
	
	<!-- 심사중인 프로젝트 개수 관련 쿼리 -->
	<select id="countProject1" resultType="_int">
		SELECT COUNT(*) FROM PROJECT_TB
		WHERE PROJECT_ST_NO = 2
	</select>
	
	<!-- 오픈중인 프로젝트 개수 관련 쿼리 -->
	<select id="countProject2" resultType="_int">
		SELECT COUNT(*) FROM PROJECT_TB
		WHERE PROJECT_ST_NO = 4
	</select>
	
	<!-- 마감된 프로젝트 개수 관련 쿼리 -->
	<select id="countProject3" resultType="_int">
		SELECT COUNT(*) FROM PROJECT_TB
		WHERE PROJECT_ST_NO = 5
	</select>
	
	<!-- 심사 대기중인 프로젝트 목록 조회 -->
	<select id="selectProjectList1" resultMap="projectResultSet">
		SELECT P.*,C.PROJECT_CT_NAME FROM PROJECT_TB P
		JOIN PROJECT_CG C ON(P.PROJECT_CT_NO = C.PROJECT_CT_NO)
		WHERE PROJECT_ST_NO = 2
		ORDER BY PROJECT_NO DESC
	</select>
	
	<!-- 심사 완료된 프로젝트 목록 조회 -->
	<select id="selectProjectList2" resultMap="projectResultSet">
		SELECT P.*,C.PROJECT_CT_NAME, (ROUND(PROJECT_CLOSE_DT - PROJECT_START_DT))AS TERM_DATE FROM PROJECT_TB P
        JOIN PROJECT_CG C ON(P.PROJECT_CT_NO = C.PROJECT_CT_NO)
		WHERE PROJECT_ST_NO = 3
		ORDER BY PROJECT_NO DESC
	</select>
	
	<!-- 오픈 중인 프로젝트 목록 조회 -->
	<select id="selectProjectList3" resultMap="projectResultSet">
		SELECT P.*,C.PROJECT_CT_NAME FROM PROJECT_TB P
        JOIN PROJECT_CG C ON(P.PROJECT_CT_NO = C.PROJECT_CT_NO)
		WHERE PROJECT_ST_NO = 4
		ORDER BY PROJECT_NO DESC
	</select>
	
	<!-- 마감된 프로젝트 목록 조회 -->
	<select id="selectProjectList4" resultMap="projectResultSet">
		SELECT P.*,C.PROJECT_CT_NAME FROM PROJECT_TB P
        JOIN PROJECT_CG C ON(P.PROJECT_CT_NO = C.PROJECT_CT_NO)
		WHERE PROJECT_ST_NO = 5
		ORDER BY PROJECT_NO DESC
	</select>
	
	<!-- 카테고리 분포 관련 쿼리 -->
	<select id="countCategory" resultType="_int">
		SELECT COUNT(*) 
		FROM PROJECT_TB 
		GROUP BY PROJECT_CT_NO HAVING PROJECT_CT_NO != 0 
		ORDER BY PROJECT_CT_NO ASC
	</select>
	
	<!-- 심사 대기중  > 심사 완료 -->
	<update id="passProject" parameterType="_int">
		UPDATE PROJECT_TB SET
		PROJECT_ST_NO = 3
		WHERE PROJECT_NO = #{pNo}
	</update>
	
	<!-- 심사 대기중 > 심사 탈락 -->
	<update id="dropOutProject" parameterType="_int">
		UPDATE PROJECT_TB SET
		PROJECT_ST_NO = 6
		WHERE PROJECT_NO = #{pNo}
	</update>
	
	<!-- 심사 완료 > 프로젝트 오픈 -->	
	<update id="openProject" parameterType="Project">
		UPDATE PROJECT_TB SET 
		PROJECT_ST_NO = 4,
		PROJECT_START_DT = SYSDATE,
		PROJECT_CLOSE_DT = SYSDATE + #{ termDate } 
		WHERE PROJECT_NO = #{pNo}
	</update>
	
	<!-- 오픈 중 > 심사 대기중 -->
	<update id="stopProject" parameterType="_int">
		UPDATE PROJECT_TB SET
		PROJECT_ST_NO = 2
		WHERE PROJECT_NO = #{pNo}
	</update>
	
	<select id="selectProjectList5" resultMap="projectResultSet">
		SELECT * FROM PROJECT_LIST_VIEW
		WHERE PROJECT_ST_NO = 7	AND PROJECT_NO IN ( SELECT RESERVE_REF_PNO FROM RESERVE WHERE RESERVE_REF_PNO = PROJECT_NO AND RESERVE_STATUS_NO = 1 )
	</select>
	
</mapper>
