<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminReportMapper">

	<resultMap type="Report" id="reportResultSet">
		<id property="repNo" column="REPORT_NO"/>
		<result property="repDate" column="REPORT_DATE"/>
		<result property="repContent" column="REPORT_CONTENT"/>
		<result property="repRefPno" column="REPORT_REF_PNO"/>
		<result property="repWriter" column="REPORT_WRITER"/>
		<result property="repStatus" column="REPORT_STATUS"/>
		<result property="pTitle" column="PROJECT_TITLE"/>
		<result property="userNickname" column="USER_NICKNAME"/>
	</resultMap>

	<resultMap type="ReportReply" id="reportReplyResultSet">
		<id property="reportRpNo" column="REPORT_RP_NO"/>
		<result property="reportRpContent" column="REPORT_RP_CONTENT"/>
		<result property="reportRpDt" column="REPORT_RP_DT"/>
		<result property="reportRpRefRno" column="REPORT_RP_REF_RNO"/>
		<result property="reportRpWriter" column="REPORT_RP_WRITER"/>
		<result property="userNickname" column="USER_NICKNAME"/>
		<result property="reportContent" column="REPORT_CONTENT"/> 
	</resultMap>
	
	<resultMap type="ReportVo" id="reportVoResultSet">
		<id property="reportRpNo" column="REPORT_RP_NO"/>
		<result property="reportRpContent" column="REPORT_RP_CONTENT"/>
		<result property="reportRpDt" column="REPORT_RP_DT"/>
		<result property="reportRpRefPno" column="REPORT_RP_REF_PNO"/>
		<result property="reportWriter" column="REPORT_WRITER"/>
		<result property="reportRpWriter" column="REPORT_RP_WRITER"/>
		<result property="reportContent" column="REPORT_CONTENT"/>
	</resultMap>
	
	<!-- 마이페이지 출력용 resultMap -->
	<resultMap type="MyPageReport" id="myPageReportResultSet">
		<id property="repNo" column="REPORT_NO"/> <!-- 신고번호  -->
		<result property="reportRpRefRno" column="REPORT_RP_REF_RNO"/> <!-- join 신고번호 -->
		<result property="repDate" column="REPORT_DATE"/>
		<result property="repContent" column="REPORT_CONTENT"/>
		<result property="repRefPno" column="REPORT_REF_PNO"/>
		<result property="pTitle" column="PROJECT_TITLE"/>
		<result property="repWriter" column="REPORT_WRITER"/>
		<result property="repStatus" column="REPORT_STATUS"/>
		<result property="reportRpNo" column="REPORT_RP_NO"/>
		<result property="reportRpContent" column="REPORT_RP_CONTENT"/>
		<result property="reportRpDt" column="REPORT_RP_DT"/>
	</resultMap>
		
	<!-- 신고 개수 관련 쿼리 -->
	<select id="countReport" resultType="_int">
		SELECT COUNT(*) FROM REPORT_TB
		WHERE REPORT_STATUS = 'Y'
	</select>
	
	<!-- 신고 목록 관련 쿼리 -->
	<select id="selectReportView" resultMap="reportResultSet">
		SELECT REPORT_NO,REPORT_DATE,REPORT_CONTENT,REPORT_REF_PNO,REPORT_WRITER,REPORT_STATUS
        ,USER_NICKNAME, PROJECT_TITLE
		FROM REPORT_TB
		JOIN USER_TB ON(REPORT_WRITER = USER_NO)
		JOIN PROJECT_TB ON(REPORT_REF_PNO = PROJECT_NO)
		WHERE REPORT_STATUS = 'Y'
		ORDER BY REPORT_NO DESC
	</select>

	<!-- 신고 답변 등록 쿼리 -->
	<insert id="insertReportReply" parameterType="ReportReply">
		INSERT INTO REPORT_REPLY VALUES(
    		SEQ_ANS_NO.NEXTVAL,#{reportRpContent},SYSDATE,#{reportRpRefRno}, #{reportRpWriter}
		)
	</insert>

	<!-- 신고 답변 등록시 답변 완료 띄우기   -->
	<update id="updateReport" parameterType="ReportReply">
		UPDATE REPORT_TB
		SET REPORT_STATUS = 'N'
		WHERE REPORT_NO = #{reportRpRefRno}
	</update>
	
	<!-- 신고 답변 목록 -->
	<select id="reportRlistView" resultMap="reportVoResultSet">
		SELECT B.REPORT_RP_NO, AU.USER_NICKNAME AS REPORT_WRITER, A.REPORT_CONTENT, BU.USER_NICKNAME AS REPORT_RP_WRITER, B.REPORT_RP_CONTENT, B.REPORT_RP_DT 
		FROM REPORT_TB A 
		JOIN USER_TB AU ON (A.REPORT_WRITER = AU.USER_NO) 
		JOIN REPORT_REPLY B ON (A.REPORT_NO = B.REPORT_RP_REF_RNO) 
		JOIN USER_TB BU ON (B.REPORT_RP_WRITER = BU.USER_NO)
		ORDER BY 1 DESC
	</select>
	
	<!-- =======================myPage=========================== -->
	
	<!-- 회원이 신고한 목록 조회 -->
	<select id="myReportList" resultMap="myPageReportResultSet" parameterType="_int">
		SELECT * FROM REPORT_TB
		JOIN REPORT_REPLY ON (REPORT_NO = REPORT_RP_REF_RNO)
		JOIN USER_TB ON (REPORT_WRITER = USER_NO)
		JOIN PROJECT_TB ON (REPORT_REF_PNO = PROJECT_NO)
		WHERE REPORT_WRITER = #{userNo}
	</select>
	
	
	
</mapper>
