<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminReserveMapper">
	
	<resultMap type="Reserve" id="reserveResultSet">
		<id property="resNo" column="RESERVE_NO"/>
		<result property="bKey" column="BILLINGKEY"/>
		<result property="addi" column="ADDITIONAL"/>
		<result property="resDate" column="RESERVE_DATE"/>
		<result property="resName" column="RESERVE_NAME"/>
		<result property="resContact" column="RESERVE_CONTRACT"/>
		<result property="resAddress" column="RESERVE_ADDRESS"/>
		<result property="resRequest" column="RESERVE_REQUEST"/>
		<result property="resUser" column="RESERVE_USER"/>
		<result property="resRefPno" column="RESERVE_REF_PNO"/>
		<result property="resStatusNo" column="RESERVE_STATUS_NO"/>
		<result property="userNickname" column="USER_NICKNAME"/>
		<result property="pTitle" column="PROJECT_TITLE"/>
	</resultMap>
	
	<!-- 주문 예약 개수 관련 쿼리  -->
	<select id="countReserve1" resultType="_int">
		SELECT COUNT(*) 
		FROM RESERVE
		WHERE RESERVE_STATUS_NO= 1
	</select>

	<!-- 결제 완료 개수 관련 쿼리  -->
	<select id="countReserve2" resultType="_int">
		SELECT COUNT(*) 
		FROM RESERVE
		WHERE RESERVE_STATUS_NO= 2
	</select>

	<!-- 예약 취소 개수 관련 쿼리  -->
	<select id="countReserve3" resultType="_int">
		SELECT COUNT(*) 
		FROM RESERVE
		WHERE RESERVE_STATUS_NO= 3
	</select>
	
	<!-- 주문 예약 현황 쿼리 -->
	<select id="selectReserveList1" resultMap="reserveResultSet">
		SELECT RESERVE_NO,BILLINGKEY,ADDITIONAL,RESERVE_DATE,RESERVE_NAME,RESERVE_CONTRACT,RESERVE_ADDRESS,RESERVE_REQUEST,RESERVE_USER,
   		RESERVE_REF_PNO,RESERVE_STATUS_NO,PROJECT_TITLE,USER_NICKNAME
		FROM RESERVE
		JOIN PROJECT_TB ON(RESERVE_REF_PNO = PROJECT_NO)
		JOIN USER_TB ON(RESERVE_USER = USER_NO)
		WHERE RESERVE_STATUS_NO = 1
	</select>
	
	<!-- 결제 현황 쿼리 -->
	<select id="selectReserveList2" resultMap="reserveResultSet">
		SELECT RESERVE_NO,BILLINGKEY,ADDITIONAL,RESERVE_DATE,RESERVE_NAME,RESERVE_CONTRACT,RESERVE_ADDRESS,RESERVE_REQUEST,RESERVE_USER,
   		RESERVE_REF_PNO,RESERVE_STATUS_NO,PROJECT_TITLE,USER_NICKNAME
		FROM RESERVE
		JOIN PROJECT_TB ON(RESERVE_REF_PNO = PROJECT_NO)
		JOIN USER_TB ON(RESERVE_USER = USER_NO)
		WHERE RESERVE_STATUS_NO = 2
	</select>
	
	<!-- 주문 예약 취소  쿼리 -->
	<select id="selectReserveList3" resultMap="reserveResultSet">
		SELECT RESERVE_NO,BILLINGKEY,ADDITIONAL,RESERVE_DATE,RESERVE_NAME,RESERVE_CONTRACT,RESERVE_ADDRESS,RESERVE_REQUEST,RESERVE_USER,
   		RESERVE_REF_PNO,RESERVE_STATUS_NO,PROJECT_TITLE,USER_NICKNAME
		FROM RESERVE
		JOIN PROJECT_TB ON(RESERVE_REF_PNO = PROJECT_NO)
		JOIN USER_TB ON(RESERVE_USER = USER_NO)
		WHERE RESERVE_STATUS_NO = 3
	</select>
	
	<!-- 주문 예약 취소 -->
	<update id="cancelReserve" parameterType="_int">
		UPDATE RESERVE SET 
		RESERVE_STATUS_NO = 3
		WHERE RESERVE_NO = #{resNo}
	</update>

</mapper>
