<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="Member">
		<id property="userNo" column="USER_NO" />
		<result property="userEmail" column="USER_EMAIL" />
		<result property="userNickname" column="USER_NICKNAME" />
		<result property="userPwd" column="USER_PWD" />
		<result property="userEmailAuthYn" column="USER_EM_AUTH_YN" />
		<result property="userAdminYn" column="USER_ADMIN_YN" />
		<result property="userStatus" column="USER_STATUS" />
		<result property="userEnrollDate" column="USER_ER_DT" />
		<result property="userLoginDate" column="USER_LOGIN_DATE" />
		<result property="userModifyDate" column="USER_MF_DT" />
		<result property="userAddress" column="USER_ADDR" />
		<result property="userPhone" column="USER_PHONE" />
		<result property="userProfileImage" column="USER_PF_IMG" />
		<result property="userSelf" column="USER_SELF" />
		<result property="sessionId" column="AUTO_SESSIONKEY" />
		<result property="limit" column="AUTO_EXPIRYDATE" />
	</resultMap>
	

	<!-- 로그인용 쿼리 -->
	<select id="selectOne" parameterType="Member"
		resultMap="memberResultSet">
		SELECT * FROM USER_TB
		WHERE USER_EMAIL = #{userEmail}
		AND USER_PWD = #{userPwd}
		AND USER_STATUS = 'Y'
	</select>
	
	<!-- 로그인 아이디/비번 확인용 쿼리 -->
	<select id="checkValidate" parameterType="Member" resultType="int">
		SELECT COUNT(*) FROM USER_TB 
		WHERE USER_EMAIL = #{userEmail} 
		AND USER_PWD = #{userPwd} 
		AND USER_STATUS = 'Y' 
	</select>
	
	<!-- 이메일 중복검사 -->
	<select id="selectCheckEmail" parameterType="Member" resultMap="memberResultSet">
		SELECT USER_EMAIL FROM USER_TB
		WHERE USER_EMAIL = #{userEmail}
		AND USER_STATUS = 'Y'
	</select>
	
	<!-- 닉네임 중복검사 -->
	<select id="selectCheckNickname" parameterType="Member" resultMap="memberResultSet">
		SELECT USER_NICKNAME FROM USER_TB
		WHERE USER_NICKNAME = #{userNickname}
		AND USER_STATUS = 'Y'
	</select>
	
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="Member">
		INSERT INTO USER_TB(USER_NO, USER_EMAIL, USER_NICKNAME, USER_PWD, USER_EM_AUTH_YN)
		VALUES(SEQ_USER_NO.NEXTVAL, #{userEmail}, #{userNickname}, #{userPwd}, 'Y')
	</insert>
	
	<!-- SNS회원가입 -->
	<insert id="insertSNS" parameterType="Member">
		INSERT INTO USER_TB(USER_NO, USER_EMAIL, USER_NICKNAME, USER_PWD, USER_PF_IMG, USER_EM_AUTH_YN)
		VALUES(SEQ_USER_NO.NEXTVAL, #{userEmail}, #{userNickname}, #{userPwd}, #{userProfileImage}, 'Y')
	</insert>
	
	<!-- 회원정보 수정 -->
	<update id="updateMember" parameterType="Member">
		UPDATE USER_TB
		SET USER_NICKNAME = #{userNickname},
		USER_ADDR = #{userAddress},
		USER_PHONE = #{userPhone},
		USER_PF_IMG = #{userProfileImage},
		USER_SELF = #{userSelf},
		USER_MF_DT = SYSDATE	
		WHERE USER_NO = #{userNo}
	</update>
	
	<!-- 비밀번호 수정 -->
	<update id="updatePwd" parameterType="Member">
		UPDATE USER_TB SET USER_PWD = #{userPwd}, USER_MF_DT = SYSDATE
		WHERE USER_EMAIL = #{userEmail}
	</update>

	<insert id="countVisitToday" parameterType="_int">
		INSERT INTO DAYCOUNT
		VALUES(
		TO_CHAR(SYSDATE), #{userNo}
		)
	</insert>
  
	<select id="checkVisitToday" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM DAYCOUNT
		WHERE USER_NO = #{userNo}		
	</select>

	<select id="checkUserWithSessionKey" parameterType="string" resultType="_int">
    	SELECT * FROM USER_TB
    	WHERE AUTO_SESSIONKEY= #{sessionId}
    	AND AUTO_EXPIRYDATE > SYSDATE
    </select>
    
	<!-- 자동로그인 값 저장-->	
	<update id="keepLogin" parameterType="Member">
		UPDATE USER_TB SET AUTO_SESSIONKEY = #{sessionId}, AUTO_EXPIRYDATE = #{limit}
		WHERE USER_NO = #{userNo}
    </update>
    
    <!-- (#id:VARCHAR#, #name:VARCHAR#, #title:VARCHAR#)-->
    
	
  
</mapper>
