<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="Member">
		<id property="userNo" column="USER_NO" />
		<result property="userEmail" column="USER_EMAIL" />
		<result property="userNickname" column="USER_NICKNAME" />
		<result property="userPwd" column="USER_PWD" />
		<result property="userEmailAuthYn" column="USER_EM_AUTH_YN" />
		<result property="userAdminYn" column="USER_ADMIN_YN" />
		<result property="userStatus" column="USER_STATUS" />
		<result property="userEnrollDate" column="USER_ER_DT" />
		<result property="userLoginDate" column="USER_LOGIN_DATE" />
		<result property="userModifyDate" column="USER_MF_DT" />
		<result property="userAddress" column="USER_ADDR" />
		<result property="userPhone" column="USER_PHONE" />
		<result property="userProfileImage" column="USER_PF_IMG" />
		<result property="userSelf" column="USER_SELF" />
	</resultMap>

	<!-- 로그인용 쿼리 -->
	<select id="selectOne" parameterType="Member"
		resultMap="memberResultSet">
		SELECT * FROM USER_TB
		WHERE USER_EMAIL = #{userEmail}
		AND USER_PWD = #{userPwd}
		AND USER_STATUS = 'Y'
	</select>
	<insert id="countVisitToday" parameterType="_int">
		INSERT INTO DAYCOUNT
		VALUES(
		TO_CHAR(SYSDATE), #{userNo}
		)
	</insert>
	<select id="checkVisitToday" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM DAYCOUNT
		WHERE USER_NO = #{userNo}
	</select>
</mapper>
