<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="projectMapper">

	<resultMap id="projectResultSet" type="Project">
		<id property="pNo" column="PROJECT_NO" />
		<result property="pTitle" column="PROJECT_TITLE" />
		<result property="pSTitle" column="PROJECT_STITLE" />
		<result property="pGoal" column="PROJECT_GOAL" />
		<result property="pThumbImage" column="PROJECT_THUMB_IMG" />
		<result property="pStartDate" column="PROJECT_START_DT" />
		<result property="pCloseDate" column="PROJECT_CLOSE_DT" />
		<result property="pHashTag" column="PROJECT_HASHTAG" />
		<result property="pMainImage" column="PROJECT_MAIN_IMG" />
		<result property="pSummaryText" column="PROJECT_SUMMARY" />
		<result property="pStory" column="PROJECT_STORY" />
		<result property="pArtistName" column="PROJECT_AT_NM" />
		<result property="pArtistPFImage" column="PROJECT_AT_PF" />
		<result property="pArtistSns1" column="PROJECT_AT_SNS1" />
		<result property="pArtistSns2" column="PROJECT_AT_SNS2" />
		<result property="pArtistPhone" column="PROJECT_AT_CONT" />
		<result property="pArtistEmail" column="PROJECT_AT_EM" />
		<result property="pEnrollDate" column="PROJECT_ER_DT" />
		<result property="pModifyDate" column="PROJECT_MF_DT" />
		<result property="pWriter" column="PROJECT_WRITER" />
		<result property="pCategoryNum" column="PROJECT_CT_NO" />
		<result property="pCategoryName" column="PROJECT_CT_NAME" />
		<result property="pStatusNum" column="PROJECT_ST_NO" />
		<result property="pCount" column="PROJECT_COUNT" />
		<result property="pDDay" column="D_DAY"/>
		<result property="pCurrentFunding" column="TOTAL" />
		<result property="pOpenCount" column="PROJECT_OPEN_COUNT" />
		<result property="pArtistIntroduction" column="PROJECT_AT_INT" />
	</resultMap>
	
	<resultMap type="Reward" id="rewardResultSet">
		<id property="rNo" column="REWARD_NO"/>
		<result property="rPrice" column="REWARD_PRICE"/>
		<result property="rName" column="REWARD_NAME"/>
		<result property="rExplain" column="REWARD_EXPLAIN"/>
		<result property="rLimit" column="REWARD_LIMIT"/>
		<result property="rShipCDT" column="REWARD_SHIP_CDT"/>
		<result property="rShipDate" column="REWARD_SHIP_DT"/>
		<result property="rOptionAdd" column="REWARD_OP_ADD"/>
		<result property="rRefPno" column="REWARD_REF_PNO"/>
		<result property="rOptionNo" column="REWARD_OP_NO"/>
		<result property="rAmount" column="REWARD_AMOUNT"/>
		<result property="rSum" column="SUMM"/>
	</resultMap>
	
	<resultMap type="Like" id="likeResultSet">
		<id property="likeNo" column="LIKE_USER"/>
		<result property="likePrNo" column="LIKE_PRJ"/>
	</resultMap>
	
	<resultMap type="Reply" id="replyResultSet">
		<id property="reNo" column="REPLY_NO"/>
		<result property="reContent" column="REPLY_CONTENT"/>
		<result property="reStatus" column="REPLY_STATUS"/>
		<result property="reWriDate" column="REPLY_WRI_DT"/>
		<result property="reDay" column="REDAY"/>
		<result property="reModiDate" column="REPLY_MODI_DT"/>
		<result property="reRefPNo" column="REPLY_REF_PNO"/>
		<result property="reWriNo" column="REPLY_WRITER"/>
		<result property="reWriter" column="NICKNAME"/>
		<result property="reWriImg" column="PRO_IMG"/>
		<result property="reCGNo" column="REPLY_CG_NO"/>
		<result property="reCGName" column="CGNAME"/>
		<result property="reRSUser" column="RSUSER"/>
	</resultMap>
	
	<resultMap type="SubReply" id="subReplyResultSet">
		<id property="subNo" column="SUBRE_NO"/>
		<result property="subContent" column="SUBRE_CON"/>
		<result property="subStatus" column="SUBRE_STATUS"/>
		<result property="subWriDate" column="SUBRE_WRI_DT"/>
		<result property="subReDay" column="SUBREDAY"/>
		<result property="subModiDate" column="SUBRE_MODI_DT"/>
		<result property="subWriNo" column="SUBRE_WRITER"/>
		<result property="subWriter" column="NICKNAME"/>
		<result property="subWriImg" column="PRO_IMG"/>
		<result property="subRefRNo" column="SUBRE_REF_RNO"/>
		<result property="subRSUser" column="RSUSER"/>
	</resultMap>
	
	<resultMap type="DetailFollow" id="detailFollowResultSet">
		<id property="followNo" column="FOLLOW"/>
		<result property="followerNo" column="FOLLOWER"/>
		<result property="followDate" column="FOLLOW_DATE"/>
		<result property="followerDate" column="FOLLOWER_DATE"/>
	</resultMap>
	
	<resultMap type="DetailReport" id="detailReportResultSet">
		<id property="repNo" column="REPORT_NO"/>
		<result property="repDate" column="REPORT_DATE"/>
		<result property="repContent" column="REPORT_CONTENT"/>
		<result property="repRefPno" column="REPORT_REF_PNO"/>
		<result property="repWriter" column="REPORT_WRITER"/>
		<result property="repStatus" column="REPORT_STATUS"/>
	</resultMap>
	
	
	
	
	<!-- 프로젝트 등록  -->
	<insert id="insertProject" parameterType="Project">
		INSERT INTO PROJECT_TB VALUES( 
			#{pNo}, #{pTitle}, #{pSTitle}, #{pGoal}, #{pThumbImage}, #{pStartDate}, #{pCloseDate},
			#{pHashTag}, #{pMainImage}, #{pSummaryText}, #{pStory}, #{pArtistName}, #{pArtistPFImage},
			#{pArtistSns1}, #{pArtistSns2}, #{pArtistPhone}, #{pArtistEmail}, SYSDATE, SYSDATE, #{pWriter}, #{pCategoryNum}, 
			#{pStatusNum}, DEFAULT, #{pArtistIntroduction}
		)
	</insert>
	
	<!-- 프로젝트 디테일 조회용 쿼리 -->
	<select id="selectProject" parameterType="_int" resultMap="projectResultSet">
		<!-- SELECT P.*, FLOOR(PROJECT_CLOSE_DT - SYSDATE) AS D_DAY FROM PROJECT_TB P
		WHERE PROJECT_NO = #{ pNo }  -->
		SELECT * FROM PROJECT_DETAIL_VIEW_2ND
		WHERE PROJECT_NO = #{ pNo }
	</select>
	
	<!-- 진행중/종료된 프로젝트 갯수 조회용 쿼리 -->
	<select id="countList" resultType="_int">
		SELECT COUNT(*) FROM PROJECT_TB
		WHERE PROJECT_ST_NO IN ( 4, 5 )
	</select>
	
	<!-- 선택한 카테고리에 따라 프로젝트 리스트 조회용 쿼리 -->
	<select id="selectPrjList" resultMap="projectResultSet" parameterType="string">
	 	SELECT * FROM PROJECT_LIST_VIEW
	 	<choose>
	 		<when test="_parameter.equals('total')">
	 		WHERE PROJECT_CT_NO IN ( 1, 2, 3, 4, 5 )
	 		</when>
	 		<when test="_parameter.equals('music')">
		 	WHERE PROJECT_CT_NO = 1
	 		</when>
	 		<when test="_parameter.equals('movie')">
	 		WHERE PROJECT_CT_NO = 2
	 		</when>
	 		<when test="_parameter.equals('play')">
	 		WHERE PROJECT_CT_NO = 3
	 		</when>
	 		<when test="_parameter.equals('art')">
	 		WHERE PROJECT_CT_NO = 4
	 		</when>
	 		<when test="_parameter.equals('etc')">
	 		WHERE PROJECT_CT_NO = 5
	 		</when>
	 	</choose>
	</select>
	
	<!-- 여러 필터링을 한번에 처리하는 필터링된 리스트 받아오는 쿼리 -->
	<select id="selectPrjListS" resultMap="projectResultSet" parameterType="FilteringList">
		SELECT P.*, (CASE WHEN PROJECT_NO IN (SELECT LIKE_PRJ FROM LIKE_TB WHERE LIKE_USER = #{ userNo }) THEN 1 ELSE 0 END) AS ILIKE
		FROM PROJECT_LIST_VIEW_2ND P
		WHERE 
		<choose>
			<when test="category == 'total'">
			PROJECT_CT_NO IN ( 1, 2, 3, 4, 5 )
			</when>
			<when test="category == 'music'">
			PROJECT_CT_NO = 1
			</when>
			<when test="category == 'movie'">
			PROJECT_CT_NO = 2
			</when>
			<when test="category == 'play'">
			PROJECT_CT_NO = 3
			</when>
			<when test="category == 'art'">
			PROJECT_CT_NO = 4
			</when>
			<when test="category == 'etc'">
			PROJECT_CT_NO = 5
			</when>
		</choose>
		<if test="keyword != null">
		AND ( PROJECT_TITLE LIKE '%'||'#{ keyword }'||'%' OR PROJECT_STITLE LIKE '%'||'#{ keyword }'||'%' PROJECT_HASHTAG LIKE '%'||'#{ keyword }'||'%' )
		</if>
		ORDER BY
		<choose>
			<when test="order == 'popluar'">
			COUNTCOUNT DESC NULLS LAST
			</when>
			<when test="order == 'recent'">
			RECENT DESC NULLS LAST
			</when>
			<when test="order == 'amount'">
			AMOUNT DESC NULLS LAST
			</when>
			<when test="order == 'support'">
			SUPPORT DESC NULLS LAST
			</when>
			<when test="order == 'closing'">
			CLOSING ASC NULLS LAST
			</when>
		</choose>
	</select>
	
	<!-- 조회된 프로젝트 조회수 올리는 쿼리 -->
	<update id="updatePrjCount" parameterType="_int">
		UPDATE PROJECT_TB 
		SET PROJECT_COUNT = PROJECT_COUNT+1
		WHERE PROJECT_NO = #{ pNo }
	</update>
	

	<!-- =======================리워드=========================== -->
	
	<!-- 리워드 조회 쿼리 -->
	<select id="selectReward" parameterType="_int" resultMap="rewardResultSet">
		SELECT * FROM PROJECT_DETAIL_REWARD WHERE REWARD_REF_PNO=#{pno}
	</select>
	
	<!-- 프로젝트 등록 페이지 이동시 pNo를 생성해주는 쿼리  -->
	<select id="createProjectNumber" resultType="_int">
		SELECT SEQ_PROJ_NO.NEXTVAL FROM DUAL
	</select>
	
	<!-- 리워드 등록 -->
  	<insert id="insertReward" parameterType="Reward">
  		INSERT INTO REWARD VALUES( 
  		SEQ_RWD_NO.NEXTVAL, #{rPrice}, #{rName}, #{rExplain},
  		#{rLimit}, #{rShipCDT}, #{rShipDate}, #{rOptionAdd},
  		#{rRefPno}, #{rOptionNo}, #{rLimit}  
  		)
  	</insert>

	<!-- 리워드 리스트 셀렉하는 쿼리문 -->
	<select id="selectRewardList" parameterType="java.util.HashMap" resultMap="rewardResultSet">
		SELECT * FROM REWARD
		WHERE REWARD_NO IN
		<foreach collection="list" item="num" index="index" open="(" close=")" separator=",">
			#{ num }
		</foreach>
		ORDER BY REWARD_NO ASC
	</select>
	
	<!-- ========================Like============================ -->
	
	<!-- 좋아요 등록 -->
	<insert id="insertProjectLike" parameterType="Like">
		INSERT INTO LIKE_TB VALUES(#{likeNo}, #{likePrNo})
	</insert>
	
	<!-- 좋아요 조회 -->
	<select id="selectLike" parameterType="Like" resultMap="likeResultSet">
		SELECT * FROM LIKE_TB WHERE LIKE_USER=#{likeNo} AND LIKE_PRJ=#{likePrNo}
	</select>
	
	<!-- 좋아요 취소 -->
	<delete id="deleteLike" parameterType="Like">
		DELETE FROM LIKE_TB WHERE LIKE_USER=#{likeNo} AND LIKE_PRJ=#{likePrNo}
	</delete>
	
	<!-- 댓글 등록 -->
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO REPLY VALUES(SEQ_RPL_NO.NEXTVAL, #{reContent}, 'Y', SYSDATE, SYSDATE, #{reRefPNo}, #{reWriNo}, #{reCGNo})
	</insert>
	
	<!-- 댓글 조회 -->
	<select id="selectReply" parameterType="_int" resultMap="replyResultSet">
		SELECT * FROM PROJECT_DETAIL_REPLY WHERE REPLY_REF_PNO=#{pNo}
	</select>
	
	<!-- 서브 댓글 조회 -->
	<select id="selectSubReply" parameterType="Reply" resultMap="subReplyResultSet">
		SELECT * FROM PROJECT_DETAIL_SUBREPLY WHERE SUBRE_REF_RNO IN 
		<foreach collection="list" item="num" index="index" open="(" close=")" separator=",">
			#{num.reNo}
		</foreach>
	</select>
	
	<!-- 서브 댓글 등록 -->
	<insert id="insertSubReply" parameterType="SubReply">
		INSERT INTO SUBREPLY VALUES(SEQ_SUBRL_NO.NEXTVAL, #{subContent}, 'Y', SYSDATE, SYSDATE, #{subWriNo},#{subRefRNo})
	</insert>
	
	<!-- 팔로우 조회용 -->
	<select id="selectFollow" parameterType="DetailFollow" resultMap="detailFollowResultSet">
		SELECT * FROM FOLLOW_TB WHERE FOLLOW=#{followNo} AND FOLLOWER=#{followerNo}
	</select>
	
	<!-- 팔로우 등록 -->
	<insert id="insertFollow" parameterType="DetailFollow">
		INSERT INTO FOLLOW_TB VALUES(#{followNo}, #{followerNo}, SYSDATE, SYSDATE)
	</insert>
	
	<!-- 팔로우 취소 -->
	<delete id="deleteFollow" parameterType="DetailFollow">
		DELETE FROM FOLLOW_TB WHERE FOLLOW=#{followNo} AND FOLLOWER=#{followerNo}
	</delete>
	
	<!-- 프로젝트 신고 -->
	<insert id="insertReport" parameterType="DetailReport">
		INSERT INTO REPORT_TB VALUES(SEQ_REP_NO.NEXTVAL, SYSDATE, #{repContent}, #{repRefPno}, #{repWriter}, 'Y')
	</insert>
	
	<!-- 프로젝트 신고 조회 -->
	<select id="selectReport" parameterType="DetailReport" resultMap="detailReportResultSet">
		SELECT * FROM REPORT_TB WHERE REPORT_REF_PNO=#{repRefPno} AND REPORT_WRITER=#{repWriter}
	</select>
	
	<!-- ========================myPage============================ -->

	<!-- 내가 펀딩한 프로젝트 중 RESERVE_ST_NO 1인것 (결제대기)  -->
	<select id="projectJoinCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM RESERVE
		WHERE RESERVE_STATUS_NO = '1' AND RESERVE_USER = #{userNo}
	</select>

	<!-- 내가 펀딩한 프로젝트 중 결재완료된 건 -->
	<select id="projectCloseCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM RESERVE
		WHERE RESERVE_STATUS_NO = 2 AND RESERVE_USER = #{userNo}
	</select>

	<!-- 회원의 진행중/종료된 프로젝트 갯수 조회용 쿼리 -->
	<select id="countOpenProject" resultType="_int" parameterType="_int">
		SELECT COUNT(*) FROM PROJECT_TB 
		WHERE PROJECT_WRITER= #{userNo} AND PROJECT_ST_NO IN ( 4, 5 )
	</select>

	<!-- 회원이 펀딩한 프로젝트 리스트 조회 -->
	<select id="myFundingList" resultMap="projectResultSet" parameterType="_int">
		SELECT * FROM PROJECT_LIST_VIEW WHERE PROJECT_NO
		IN(SELECT DISTINCT(RESERVE_REF_PNO) FROM RESERVE WHERE RESERVE_USER = #{userNo})
	</select>
	
	<!-- 회원이 오픈한 프로젝트 리스트 조회  -->
	<select id="myOpenProjectList" resultMap="projectResultSet" parameterType="_int">
		SELECT * FROM PROJECT_MYLIST_VIEW JOIN USER_TB ON(USER_NO = PROJECT_WRITER)
		WHERE PROJECT_WRITER= #{userNo} AND PROJECT_ST_NO IN(1,2,3,4,5,6,7)
	</select>
	
</mapper>
