<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reserveMapper">
	
	<resultMap type="Reserve" id="reserveResultSet">
		<id property="resNo" column="RESERVE_NO" />
		<result property="bKey" column="BILLINGKEY" />
		<result property="addi" column="ADDITIONAL" />
		<result property="resDate" column="RESERVE_DATE" />
		<result property="resName" column="RESERVE_NAME" />
		<result property="resContact" column="RESERVE_CONTRACT" />
		<result property="resAddress" column="RESERVE_ADDRESS" />
		<result property="resRequest" column="RESERVE_REQUEST" />
		<result property="resUser" column="RESERVE_USER" />
		<result property="resRefPno" column="RESERVE_REF_PNO" />
		<result property="resStatusNo" column="RESERVE_STATUS_NO" />
		<result property="pTitle" column="PROJECT_TITLE" />
		<result property="userNickname" column="USER_NICKNAME" />
		<result property="resRwdPriceSum" column="REWARD_PRICE_SUM" />
		<result property="resFundDate" column="FUND_DATE" />
	</resultMap>
	
	<resultMap type="Reward" id="rewardReslutSet">
		<id property="rNo" column="REWARD_NO" />
		<result property="rPrice" column="REWARD_PRICE" />
		<result property="rName" column="REWARD_NAME" />
		<result property="rExplain" column="REWARD_EXPLAIN" />
		<result property="rLimit" column="REWARD_LIMIT" />
		<result property="rShipCDT" column="REWARD_SHIP_CDT" />
		<result property="rShipDate" column="REWARD_SHIP_DT" />
		<result property="rOptionAdd" column="REWARD_OP_ADD" />
		<result property="rRefPno" column="REWARD_REF_PNO" />
		<result property="rOptionNo" column="REWARD_OP_NO" />
		<result property="rAmount" column="REWARD_AMOUNT" />
		<result property="userAmount" column="REWARD_SUM" />
	</resultMap>
	
	<!-- 결제(예약) 정보를 불러오는 쿼리문 -->
	<select id="selectReserve" resultMap="reserveResultSet" parameterType="_int">
		SELECT * FROM RESERVE_VIEW_2ND
		WHERE RESERVE_NO = #{ rsvNo }
	</select>
	
	<!-- 해당 예약정보의 리워드 리스트를 불러오는 쿼리문 -->
	<select id="selectRewardList" resultMap="rewardReslutSet" parameterType="_int">
		SELECT * FROM HISTORY 
		JOIN REWARD USING( REWARD_NO )
		WHERE RESERVE_NO = #{ rsvNo }
	</select>
	
	<!-- 특정 예약정보의 배송지를 업데이트 하는 쿼리문 -->
	<update id="updateReserveAddress" parameterType="Reserve">
		UPDATE RESERVE
		SET RESERVE_NAME = #{ resName },
			RESERVE_CONTRACT = #{ resContact },
			RESERVE_ADDRESS = #{ resAddress },
			RESERVE_REQUEST = #{ resRequest }
		WHERE RESERVE_NO = #{ resNo }
	</update>
	
	<select id="selectResNo" resultType="_int">
		SELECT SEQ_RES_NO.NEXTVAL
		FROM DUAL
	</select>
	
	<insert id="insertReserve" parameterType="Reserve">
		INSERT INTO RESERVE VALUES (
			#{ resNo }, #{ bKey }, #{ addi }, SYSDATE, 
			#{ resName }, #{ resContact }, #{ resAddress }, #{ resRequest },
			#{ resUser }, #{ resRefPno }, 1 )
	</insert>
	
	<insert id="insertHistory" parameterType="History">
		INSERT INTO HISTORY VALUES (
			#{ rsvNo }, #{ rwdNo }, #{ rwdAmount }, #{ rwdOption }
		)
	</insert>
	
	<update id="updateFundingStatus" parameterType="_int">
		UPDATE RESERVE
		SET RESERVE_STATUS_NO = 3
		WHERE RESERVE_NO = #{ rsvNo }
	</update>
	
</mapper>
