@charset "UTF-8";
#changePwd-table {
    width: 70%;
    border-spacing: 10px;
    border-collapse: separate;
    margin: auto;
    padding: auto;
}
/* #emailauthbtn{
	width: 80px;
	height: 40px;
} */
 #changePwdbtn {
    background-color: #FFCD01;
    color: #fff;
    font-weight: 900;
}

#changePwdbtn:hover{
    background-color: #F39C12;
}
/* #emailauthbtn:hover{
    background-color: #F39C12;
} */

#changePwd-table ::placeholder {
  font-size: 13px;
}

#changePwdForm{
	min-height: 600px;
	height: auto;
}