.accWrapper {
	width: 1200px;
	margin: auto;
	margin-top: 15px;
}
.btnWrapper{
	width: 1200px;
	margin: auto;
	margin-top : 80px;
	margin-bottom: 20px;
	padding-right: 30px;
}
.accContainer {
	border: 1px solid #d9d9de;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 2px 2px 6px #999;
	margin-bottom: 6px;
	border-radius: 4px;
}

.accHeadBox {
	height: 100px;
	padding-left: 20px;
}

.accHeadBox p:nth-child(1) {
	font-size: 41px;
	font-family: 'Black Han Sans';
	font-style: oblique;
	letter-spacing: 2px;
	color: #F39C12;
	padding-left: 15px;
	margin: 0;
}

.accHeadBox p:nth-child(2) {
	font-size: 24px;
	font-family: 'Nanum Gothic';
	font-style: oblique;
	letter-spacing: 6px;
	color: #444444;
	font-weight: bolder;
	padding-left: 82px;
	margin: 0;
}

.accHeadBox span {
	font-size: 12px;
	font-family: 'Nanum Gothic';
	color: #666;
	font-weight: 600;
	font-style: oblique;
}

.accHeadDrawline {
	margin: auto;
	width: 85%;
	height: 30px;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 20px;
}

.accBtn {
	height: 32px;
	text-align: left;
	padding-left: 25px;
	background-color: #8E44AD;
	opacity: 0.75;
	box-shadow: 2px 2px 6px #999;
	margin-bottom: 4px;
	border-radius: 4px;
}

.accBtn span {
	font-family: 'Jua';
	line-height: 38px;
	text-align: center;
	color: #ffffff;
	font-size: 23px;
	letter-spacing: 8px;
}

.acc-box {
	padding-top: 28px;
	padding-bottom: 28px;
}

.title-box {
	display: inline-block;
	width: 280px;
	vertical-align: top;
	padding-left: 30px;
	margin-right: 30px;
}

.info-box {
	display: inline-block;
	width: 570px;
}

.acctitle {
	color: #444;
	font-weight: bolder;
	font-size: 15px;
	line-height: 24px;
	text-shadow: 0px 0px 1px #999;
	margin-bottom: 8px;
}

.accdesc {
	font-weight: 500;
	font-size: 12px;
	line-height: 19px;
	color: #666;
}

.edit-box {
	display: inline-block;
	width: 500px;
	margin-left: 34px;
	border: 1px solid #dddddd;
	border-right: 2px solid #dddddd;
	border-bottom: 2px solid #dddddd;
	padding: 15px 20px
}

.nonborder {
	border: none;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}

.form-length-chk {
	text-align: right;
	margin-top: 5px;
}

.form-length-chk, .form-length-chk span {
	color: #888;
	font-size: 9px;
}

.box-img-area {
	display: inline-block;
	margin: auto;
	width: 250px;
	height: 180px;
	text-align: center;
	border: 1px solid #dddddd;
	border-right: 2px solid #dddddd;
	border-bottom: 2px solid #dddddd;
	margin-left: 106px;
}

#pthumbimgdelete, #partistimgdelete {
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
	margin-left: 2px;
}
#pthumbimgdelete a i, #partistimgdelete a i {
	color: #F39C12;
	font-size: 24px;
	opacity: 0.6;
}
#pthumbimgdelete a i:hover #partistimgdelete a i:hover{
	opacity: 1;
}

#box-img-area-noimg {
	margin-top: 50px;
}

.box-img-area p {
	font-size: 11px;
	color: #666;
}

.box-img-desc {
	margin: auto;
	width: 350px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.box-img-desc p {
	font-size: 13px;
	color: #666;
}

.rewardBox {
	width: 1000px;
	height: 100%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.leftBoxArea {
	width: 149px;
	height: 100%;
	float: left;
}

.rewardContentBox {
	padding: 30px;
	border: 1px solid #dddddd;
	border-bottom: 2px solid #dddddd;
	border-right: 2px solid #dddddd;
	width: 700px;
	height: 100%;
	float: left;
}

.rightBoxArea {
	width: 149px;
	height: 100%;
	float: left;
	padding: 10px;
}

.rightBoxArea i {
	font-size: 30px;
	color: #999999;
}

.clearFloat {
	display: block;
	clear: both;
	content: "";
}

.nthReward {
	width: 130px;
	text-align: right;
	padding-top: 15px;
}

.nthReward span {
	font-family: 'Black Han Sans';
	display: block;
	font-size: 15px;
	color: #F39C12;
}

.rewardContentLeft {
	display: inline-block;
	width: 170px;
	height: 100%;
	padding: 10px;
	text-align: right;
}

.rewardContentRight {
	display: inline-block;
	width: 461px;
	height: 100%;
	padding: 10px;
	text-align: left;
}

.rewardContentLeft {
	color: #444;
	font-weight: bolder;
	font-size: 13px;
	line-height: 24px;
	text-shadow: 0px 0px 1px #999;
	margin-bottom: 8px;
	vertical-align: top;
}

.rewardContentRight label, .rewardContentRight p {
	font-size: 15px;
	padding-left: 10px;
	line-height: 18px;
}

.rewardContentRight span {
	font-size: 11px;
	color: #444;
}

.rewardBtnArea {
	text-align: center;
}

.rewardBtnArea button {
	color: #ffffff;
	font-family: 'Nanum Gothic';
	font-weight: bolder;
	font-size: 13px;
}
.customized {
	font-size: 11px;
	height: 28px;
	width: 74px;
	background-color: #fff;
	border-color: #F39C12;
	font-weight: 800;
	color: #F39C12;
	line-height: 10px;
	margin-left: 15px;
	margin-bottom: 3px;
}

.customized:hover {
	background-color: #F39C12;
	border-color: #fff;
	color: #ffffff;
}

.nooutline, .nooutline:focus, .nooutline:active, .nooutline:enabled {
	outline: none !important;
	border-color: #dddddd !important;
}

input:focus, input:active, textarea:focus, textarea:active, select:focus,
	select:active {
	box-shadow: none !important;
	border-color: #F39C12 !important;
}

.story {
	margin: 0;
	padding: 0;
	margin-top: 15px;
	width: 343px;
	height: 230px;
	display: inline-block;
	text-align: center;
}

#pThumbNailImgUpload:hover i {
	color: #F39C12 !important;
}

#pThumbNailImgUpload i:hover {
	color: #F39C12 !important;
}

.removeReward:hover i {
	color: #F39C12;
}

#pmainimgdelete i {
	color: #F39C12;
	opacity: 0.6;
}

#pmainimgdelete:hover i {
	color: #F39C12;
	opacity: 1;
}

.contentagreement {
	border-bottom: 1px solid #ced4da;
}

.contentagreement, .contentinfoarea {
	border-top: 1px solid #ced4da;
	margin: auto;
	width: 800px;
	padding: 15px;
	padding-top: 30px;
	padding-bottom: 5px;
	text-align: center;
}

.projectcontent {
	border-bottom: 1px solid #ced4da;
	margin: auto;
	margin-top: 15px;
	padding: 15px;
	height: 1000px;
	width: 930px;
}

.contentagreement p {
	font-family: 'Jua';
	font-size: 16px;
	color: #444;
	line-height: 16px;
	margin-bottom: 30px;
}

.contentinfoarea p {
	font-family: 'Jua';
	font-size: 16px;
	color: #ec0135;
	letter-spacing: 4px;
}

.custom-control-input:checked ~.custom-control-label::before {
	color: #fff;
	border-color: #8E44AD;
	background-color: #8E44AD;
}

.chkboxarea {
	margin: auto;
	width: 500px;
	text-align: left;
	padding-left: 30px;
}

.chkboxarea label {
	margin: 5px;
}

.artistInfo span {
	color: #666;
	font-weight: bolder;
	font-size: 14px;
	line-height: 24px;
	margin-right: 15px;
}

.artistinfoarea {
	margin-top: 10px;
	margin-bottom: 10px;
}

.artistinfoarea span {
	vertical-align: top;
}

.profileimgarea {
	height: 150px;
	width: 150px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	border: 1px solid #ced4da;
	text-align: center;
	float: left;
}

.profilenoimg {
	margin: auto;
	margin-top: 25px;
}

.profilenoimg i {
	font-size: 86px;
	color: #999;
	display: block;
	opacity: 0.7;
}

.profilenoimg span {
	font-size: 10px;
	display: block;
	color: #888;
}

.profileimgdesc {
	float: left;
}

#hashtagarea {
	background-color: #F39C12;
	border-radius: 5px;
	border: none;
	margin-top: 15px;
	width: 88%;
}

#hashtagarea>span {
	display: inline-block;
	background-color: white;
	border-radius: 5px;
	padding: 6px 10px 5px 10px;
	font-family: 'Nanum Gothic';
	color: #444;
	font-weight: bolder;
	font-size: 16px;
	margin: 5px;
}

#pstartyear, #pstartmonth, #pstartday {
	color: unset;
}

.artistarea {
	width: 850px;
	height: 500px;
	padding: 15px;
}

.artistbox {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
	border: 1px solid #ddd;
	border-bottom: 3px solid #ddd;
	border-right: 3px solid #ddd;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	padding: 15px;
}

/* common */
.ribbon {
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: absolute;
}

.ribbon::before, .ribbon::after {
	position: absolute;
	z-index: -1;
	content: '';
	display: block;
	border: 5px solid #8E44AD;
}

.ribbon span {
	position: absolute;
	display: block;
	width: 225px;
	padding: 15px 0;
	background-color: #8E44AD;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
	color: #fff;
	font: 18px/1 'Jua', sans-serif;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	text-transform: uppercase;
	text-align: center;
}

/* top left*/
.ribbon-top-left {
	top: -10px;
	left: -10px;
}

.ribbon-top-left::before, .ribbon-top-left::after {
	border-top-color: transparent;
	border-left-color: transparent;
}

.ribbon-top-left::before {
	top: 0;
	right: 0;
}

.ribbon-top-left::after {
	bottom: 0;
	left: 0;
}

.ribbon-top-left span {
	right: -25px;
	top: 30px;
	transform: rotate(-45deg);
}

.artistinputarea {
	margin: auto;
	width: 720px;
	height: 100%;
}

.artistprofile {
	float: left;
	width: 60%;
	height: 60%;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 60px;
}

.artistprofile input {
	height: 32px;
	border: none;
	display: block;
	width: 100%;
	font-family: 'Jua';
	color: #666;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 10px;
}

.artistprofile input::placeholder {
	font-family: 'Jua';
	color: #bbb;
	letter-spacing: 2px;
	text-align: center;
}

.artistprofile input:focus {
	outline: none;
}

.artistprofile input:focus::placeholder, #pArtistIntroduction:focus::placeholder
	{
	color: transparent;
}

.artistinput1 {
	font-size: 32px;
	overflow: visible;
}

.artistinput2 {
	font-size: 20px;
	text-align: left !important;
	overflow: visible !important;
}

.artistinput2::placeholder {
	text-align: left !important;
}

#putunderline {
	margin: 0;
	padding: 0;
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.emailphonedesc {
	float: left;
	width: 15%;
}

.emailphonedesc i {
	line-height: 12px;
}

.emailphoneinput {
	float: left;
	width: 85%;
}

.emailphonedesc span {
	display: block;
	height: 32px;
	margin-bottom: 10px;
}

.emailphonedesc i {
	font-size: 20px;
	color: #999;
	margin-right: 15px;
	line-height: 30px;
}

.emailphoneinput label {
	display: inline;
	font-family: 'Jua';
	font-size: 16px;
	color: #666;
}

.artistimage {
	float: left;
	width: 40%;
	height: 60%;
}
#box-aimage-image{
	height: 100%;
	width: 100%;
}
#box-aimage-noimage {
	text-align: center;
	padding-top: 50px;
}

#box-aimage-noimage i {
	display: inline;
	font-size: 128px;
	color: #ddd;
	cursor: pointer;
}

#box-aimage-noimage i:hover {
	color: #8E44AD;
	opacity: 0.5;
}

#box-aimage-noimage p {
	color: #bbb;
	font-family: 'Nanum Gothic';
	font-size: 12px;
}

.artistintro {
	width: 100%;
	height: 37%;
	border-bottom: 1px solid #ddd;
	padding: 25px;
	padding-top: 50px;
}

.artistintro textarea {
	text-align: center;
	font-family: 'Jua';
	color: #666;
	resize: none;
	width: 100%;
	height: 100%;
	letter-spacing: 4px;
	font-size: 24px;
	border: none;
	line-height: 36px;
	overflow: hidden;
}

.artistintro textarea:focus {
	outline: none;
}

.artistintro textarea::placeholder {
	color: #bbb;
}

.artistfooter {
	text-align: right;
}

.artistfooter span {
	font-size: 10px;
	font-family: 'Do Hyeon';
	letter-spacing: 3px;
	font-weight: bolder;
	color: #8E44AD;
	opacity: 0.8;
}
.active{
	margin-bottom: 2px;	
}