#payingTable td:nth-child(2) {
    text-align: right
}
#payingTable .rewardTitle {
    color: #8E44AD;
    font-weight: 900;
    font-size: 17px;
} 
#payingInfo .textSize-15 {
    font-size: 15px;
}
#payingTable input[type=text] {
    border: none;
    background-color: rgba(255,255,255,0);
    text-align: right;
    padding-right: 5px;
}
#payingTable input[type=text]:focus {
    outline: none;
}
#payingInfo .textHl-p {
    color: #8E44AD;
    font-weight: 900;
    font-size: 1.15em;
}
/* 커스텀 라디오 버튼 색상 변경 */
#payingInfo .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #8E44AD;
    background-color: #8E44AD;
}
#creditCard {
    border-collapse: separate;
    border-spacing: 2px;
}
#payingInfo .graytext{
    font-size: 13px;
    color: #777;
    line-height: 10px;
}
#ship1, #ship2 {
    display: none;
}
#payingInfo .borderRed {
    border: 1px solid crimson;
}
#payingInfo .textRed {
    color: crimson;
    font-size: 13px;
    display: none;
}
#payingInfo input[type="number"]::-webkit-outer-spin-button,
#payingInfo input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#payingInfo input[type=number], #payingInfo input[type=password] {
    background-color: #fff;
}
#fdComplete #innerCon {
    max-width: 600px;
    margin: 20px auto;
}
#fdComplete .thanksText {
    text-align: center;
    border: 1px solid #8E44AD;
    border-radius: 5px;
    color: #8E44AD;
    font-weight: 600;
    padding: 30px;
    font-size: 20px;
}
#fdComplete #shareBtn {
    width: 40px;
    height: 40px;
    padding: 0;
}
#fdComplete .font-14 {
    font-size: 14px;
    font-weight: bold;
}
#fdComplete .infoText {
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    padding-left: 45px;
}
#fdComplete #myFund {
    background-color: #F39C12;
    color: #fff;
}
#payingInfo .innerMain {
    max-width: 600px;
}
#payingInfo .containGray {
    line-height: 20px;
}
#payingTable input[type="number"]::-webkit-outer-spin-button,
#payingTable input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#payingTable input[type="number"] {
    width: 35px;
    text-align: right;
    padding-right: 4px;
}