@charset "UTF-8";

#navOuter {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	height: 50px;
}

#navOuter ul li a {
	color: #444;
}

/* .myPagehead{
	display: inline;
}
 */

/* #userProfileImage{
	width: 140px;
	height: 140px;
} */
