<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 별칭 등록부분 -->
	<typeAliases>
		<typeAlias type="com.dodream.spring.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.dodream.spring.project.model.vo.Project" alias="Project"/>
		<typeAlias type="com.dodream.spring.project.model.vo.Reward" alias="Reward"/>
		<typeAlias type="com.dodream.spring.project.model.vo.Like" alias="Like"/>
		<!-- <typeAlias type="com.dodream.spring.reserve.model.vo.Reserve" alias="Reserve"/> -->
	</typeAliases>
	
	
	<!-- mapper 파일 등록 부분 -->
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/project-mapper.xml"/>
    	<mapper resource="mappers/adminMember-mapper.xml"/>
    	<mapper resource="mappers/adminFunding-mapper.xml"/>
    	<!-- <mapper resource="mappers/adminReserve-mapper.xml"/> -->
 	</mappers>
	
</configuration>